#about.text-left
	.container
		.row
			.col-md-4.col-sm-4.col-xs-12
				h6 About
				p Australian Theatre Supplies is a Queensland based company servicing the needs of cinema and live theatre throughout Australia.
			.col-md-2.col-sm-3.col-xs-4
				h6 Austheatre
				ul
					li
					|	Home
					li
					|	About
					li
					|	Live Theatre
					li
					|	Products
					li
					|	Gallery
					li
					|	Contact
			.col-md-2.col-sm-3.col-xs-4
				h6 Contact
				ul 
					li
					| T: 07 3285 6311
					li
					| M: 1800 228 442
				h6 Email
				ul
					li
					| info@austheatre.com.au
			.col-md-2.col-sm-3.col-xs-4
				h6 Location
				p Unit 4, 42 Paisley Drive, Lawnton QLD 4501



	!= js()
	script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js")
	script(type="text/javascript" src="js/slick.min.js")
	script(type="text/javascript" src="js/custom.js")


	<!-- Google Analytics -->
	script(type="text/javascript")
		!= records.site.sitedata[0].analytics

