#contact-footer.text-left
	.container
		.row
			.col-md-4.col-sm-4.col-xs-12
				h4 About
				p Australian Theatre Supplies is a Queensland based company servicing the needs of cinema and live theatre throughout Australia.
			.col-md-2.col-sm-3.col-xs-12
				h4 Austheatre
				ul
					li
						a(href='#') Home
					li
						a(href='#') About
					li
						a(href='#') Live Theatre
					li
						a(href='#') Products
					li
						a(href='#') Gallery
					li
						a(href='#') Contact
			.col-md-2.col-sm-3.col-xs-12.contact
				h4 Contact
				ul
					li
					| T: 07 3285 6311
					li
					| M: 1800 228 442
				h4 Email
				ul
					li
						a(href='mailto:info@austheatre.com.au').email info@austheatre.com.au
			.col-md-2.col-sm-3.col-xs-12
				h4 Location
				p Unit 4, 42 Paisley Drive, Lawnton QLD 4501
#footer
	.container
		.row
			.col-md-12
				p.social-footer.pull-right
					a(href='https://www.facebook.com/www.austheatre.com.au/', target='_blank')
						i.fa.fa-facebook 
				p.copyright.pull-left © 2016 Australian Theatre Supplies







script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js")
script(src="/js/webriq-bootstrap-material-ui.min.js")
script(type="text/javascript" src="js/slick.min.js")
script(type="text/javascript" src="js/custom.js")
script(type="text/javascript" src="js/lightgallery.js")
script(type="text/javascript" src="https://use.fontawesome.com/0ca9436bb1.js")


<!-- Google Analytics -->
script(type="text/javascript")
	!= records.site.sitedata[0].analytics
script.
	$(document).ready(function() {
		$("#lightGallery").lightGallery();
	});



