#contact-footer.text-left
	.container
		.row
			.col-md-6.col-sm-6.col-xs-12.right-align
				h4 About
				p Australian Theatre Supplies is a Queensland based company servicing the needs of cinema and live theatre throughout Australia.
			.col-md-6.col-sm-6.col-xs-12.right-align
				.col-md-12
					h4 Austheatre
				.col-md-4.col-sm-4
					a(href='/index.html') Home
				.col-md-4.col-sm-4
					a(href='/about-us.html') About
				.col-md-4.col-sm-4
					a(href='/livetheatre.html') Live Theatre
				.col-md-4.col-sm-4
					a(href='products.html') Products
				.col-md-4.col-sm-4
					a(href='/gallery.html') Gallery
				.col-md-4.col-sm-4
					a(href='contact.html') Contact
#footer
	.container
		.row
			.col-md-12
				p.social-footer.pull-right
					a(href='https://www.facebook.com/www.austheatre.com.au/', target='_blank')
						i.fa.fa-facebook
				p.copyright.pull-left © 2016 Australian Theatre Supplies







script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js")
script(src="/js/webriq-bootstrap-material-ui.min.js")
script(type="text/javascript" src="../js/lightbox-2.6.min.js")
script(type="text/javascript" src="js/slick.min.js")
script(type="text/javascript" src="js/custom.js")
script(type="text/javascript" src="js/lightgallery.js")
script(type="text/javascript" src="https://use.fontawesome.com/0ca9436bb1.js")


<!-- Google Analytics -->
script(type="text/javascript")
	!= records.site.sitedata[0].analytics
script.
	$(document).ready(function() {
		$("#lightGallery").lightGallery();
	});



