nav(class='navbar')
	.container
		.row
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/index')
					img(src='img/logo.png').img-responsive
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						if _path == "/index.html"
							a(href='/index').active
								| HOME
						else
							a(href='/index')
								| HOME						
					li
						if _path == "/about-us.html"
							a(href='/about-us').active
								| ABOUT
						else
							a(href='/about-us')
								| ABOUT
					li 
						if _path == "/livetheatre.html"
							a(href='/livetheatre').active
								| LIVETHEATRE
						else
							a(href='/livetheatre')
								| LIVETHEATRE
					li
						if _path == "/products.html"
							a(href='/products').active
								| PRODUCTS
						else
							a(href='/products')
								| PRODUCTS
					li
						if _path == "/gallery.html"
							a(href='/gallery').active
								| GALLERY
						else
							a(href='/gallery')
								| GALLERY		
					li
						if _path == "/contact.html"
							a(href='/contact').active
								| CONTACT
						else
							a(href='/contact')
								| CONTACT


if _path == "/index.html"
