extends layout

block content
	#sub-heading
		.container
			.row
				h1 Australian Theatre Supplies
				p
					a(href='#') Australia Theatre Supplies
					span /
					a(href='#') About
	#main-content
		.container
			.row
				.col-md-12
					h6 A Queensland based company servicing the needs of cinema and live theatre throughout Australia.
				.col-md-6.col-md-3
					p Company leader, John Coleman, is an industry leader with a wealth of experience in all aspects of service, sales and installation. As well as cinema projection equipment, John is an expert consultant in all aspects of live theatre, from your local community hall to the complex requirements of the modern entertainment venue. His many years experience in the design, manufacture and installation of curtains and track, lighting and audio systems and controls allow us to provide you with the most efficient and cost effective solutions to your cinema and live theatre requirements.
					p Our Live Theatre Department team is highly experienced in the fit-out and maintenance of performance spaces in educational institutions including the latest in performance and effects lighting including moving heads and DMX control. Our team can provide expert advice on the latest audio and audio visual equipment, curtain and track requirements and portable staging systems. A principal focus currently is assisting our many clients with their radio microphone needs as the spectrum re-allocation process proceeds.
				.col-md-6.col-md-3
					p Australian Theatre Supplies has a busy curtain manufacturing department able to attend to your curtain needs in a timely and cost effective manner. Our service includes everything from assistance in the selection of the most appropriate and durable fabric and colour advice through to manufacture and installation.
					p Since its establishment in 2006, Australian Theatre Supplies has grown rapidly, supported by our enthusiastic and dedicated staff who can boast a combined 166 years of experience in the entertainment industry. We are proud to be supported by our many industry partners including NEC, GDC, Ultra Stereo, Harkness Screens, Ballantyne/Strong and Pennywise. With their support and our experience we will be happy to be at your service. Our service division is available 24hours a day for technical support by remote access, telephone communication or where necessary, in person.Our Emergency Contact Number is 1800 228442.
	#projects
		.container
			.row
				.col-md-12
					h5 Recent Projects
						span
				.col-md-6.col-sm-6
					ul.eq-ui-collapsible(data-collapsible='accordion')
						li
							.eq-ui-collapsible-header.active
								a
									i.fa.fa-tasks
									| Majestic Cinemas Nambour
							.eq-ui-collapsible-body
								.eq-ui-collapsible-body-inner
									p Supply and install NC1201L projector, Harkness Perlux 180+ high gain screen, Krix surround & screen speakers (December 2015)
						li
							.eq-ui-collapsible-header
								a
									i.fa.fa-tasks
									| QUT Kelvin Grove (Creative Industries Precint)
							.eq-ui-collapsible-body
								.eq-ui-collapsible-body-inner
									p Manufacture & installHanddrawn,Black Wool curtains and track into 7 rehearsal/dance rooms (April 2016)
						li
							.eq-ui-collapsible-header
								a
									i.fa.fa-tasks
									| Goondiwinidi Cinemas
							.eq-ui-collapsible-body
								.eq-ui-collapsible-body-inner
									p For cinema: supply & install Krix surround & screen speakers, 3D cinema screen, USL IR hearing system, Screen Technics motorized roll up screen in the multiuse theatre
									p For Live Theatre: 2 x lighting bars, LSC Lighting Desk, Stage Lighting & Followspots, Cyclorama, FOH curtain, legs & border, live theatre sound system(April 2016)
				.col-md-6.col-sm-6
					ul.eq-ui-collapsible(data-collapsible='accordion')
						li
							.eq-ui-collapsible-header.active
								a
									i.fa.fa-tasks
									| Kelly Theatre Ingham
							.eq-ui-collapsible-body
								.eq-ui-collapsible-body-inner
									p Supply and install Screen Technics Roll Up screen and cyclorama for live theatre. (June 2016)
						li
							.eq-ui-collapsible-header
								a
									i.fa.fa-tasks
									| Alice Springs Cinemas
							.eq-ui-collapsible-body
								.eq-ui-collapsible-body-inner
									p Replace in Cinema 2 NEC 1201L laser projector, GDC SX 3000 server, Pennywise NCA 30 automation, ICCA LMS after a freak storm hit Alice Springs in June. (August 2016)
	#partners
		.container
			.row
				.col-md-12.partners
					h5 Partners
					hr
				.col-md-12.title-border
					ul
						li
							a(href='#')
								img(src='img/harkness-screens.jpg')
						li
							a(href='#')
								img(src='img/gdc.jpg')
						li
							a(href='#')
								img(src='img/krix.jpg')
						li
							a(href='#')
								img(src='img/nec.jpg')
						li
							a(href='#')
								img(src='img/usl-inc.jpg')
						li
							a(href='#')
								img(src='img/powershield.jpg')
						li
							a(href='#')
								img(src='img/elgee.jpg')
						li
							a(href='#')
								img(src='img/espedeo.jpg')
						li
							a(href='#')
								img(src='img/gogetta.jpg')
						li
							a(href='#')
								img(src='img/kramer.jpg')
						li
							a(href='#')
								img(src='img/plusrite.jpg')
						li
							a(href='#')
								img(src='img/masterimage.jpg')
						li
							a(href='#')
								img(src='img/dolby.jpg')



