extends layout

block content
	#sub-heading
		.container
			.row
				.col-md-6
					h1 Gallery
				.col-md-6
					ol.breadcrumb.pull-right
						li
							a(href='#') AUSTRALIA THEATRE SUPPLIES
						li
							a(href='#') GALLERY
	#gallery
		.container
			.row
				.col-md-12
					ul#lightGallery.gallery
						li.odd(data-src='img/Gallery/2-Alice-Springs-The-Old-and-the-New.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/2-Alice-Springs-The-Old-and-the-New-thumbnail.jpg')
								em Alice Springs The Old/New
						li.even(data-src='img/Gallery/Munro-Theatre-Babinda-Photo-Gallery-2-Custom.JPG')
							a.img-wrapper(href='#')
								img(src='img/Gallery/Munro-Theatre-Babinda-Photo-Gallery-2-Custom-thumbnail.jpg', alt='')
								em Munro Theatre Babinda 1
						li.odd(data-src='img/Gallery/Munro-Theatre-Babinda-Photo-Gallery-3.JPG')
							a.img-wrapper(href='#')
								img(src='img/Gallery/Munro-Theatre-Babinda-Photo-Gallery-3-thumbnail.jpg', alt='')
								em Munro Theatre Babinda 2
						li.even(data-src='img/Gallery/Mareeba-RSLA-Services-Club-1.JPG')
							a.img-wrapper(href='#')
								img(src='img/Gallery/Mareeba-RSLA-Services-Club-1-thumbnail.jpg', alt='')
								em Mareeba RSLA Services Club 1
						li.odd(data-src='img/Gallery/Mareeba-RSLA-Services-Club-2.JPG')
							a.img-wrapper(href='#')
								img(src='img/Gallery/Mareeba-RSLA-Services-Club-2-thumbnail.jpg', alt='')
								em Mareeba RSLA Services Club 2
						li.even(data-src='img/Gallery/Mareeba-RSLA-After.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/Mareeba-RSLA-After-thumbnail.jpg', alt='')
								em Mareeba RSLA After
						li.odd(data-src='img/Gallery/Pilbeam-Theatre-Rear-Projection-Screen.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/Pilbeam-Theatre-Rear-Projection-Screen-thumbnail.jpg', alt='')
								em Pilbeam Theatre Rear Projection Screen 1
						li.even(data-src='img/Gallery/Pilbeam-Theatre-Rear-Projection-Screen-2.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/Pilbeam-Theatre-Rear-Projection-Screen-2-thumbnail.jpg', alt='')
								em Pilbeam Theatre Rear Projection Screen 2
						li.odd(data-src='img/Gallery/1-NEC-NC1200C-projector.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/1-NEC-NC1200C-projector-thumbnail.jpg', alt='')
								em NEC NC1200C Projector
						li.even(data-src='img/Gallery/NC1200C_SLANT.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/NC1200C_SLANT-thumbnail.jpg', alt='')
								em NC1200C Slant
						li.odd(data-src='img/Gallery/6-pr7-mt_1_-(1).jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/6-pr7-mt_1_-(1)-thumbnail.jpg', alt='')
								em PR7 MT
						li.even(data-src='img/Gallery/7-pr10-f_1_.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/7-pr10-f_1_-thumbnail.jpg', alt='')
								em PR10 F
						li.odd(data-src='img/Gallery/9Product2.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/9Product2-thumbnail.jpg', alt='')
								em Product 2
						li.even(data-src='img/Gallery/10Product3(2).jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/10Product3(2)-thumbnail.jpg', alt='')
								em Product 3
						li.odd(data-src='img/Gallery/13-Krix-Speakers.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/13-Krix-Speakers-thumbnail.jpg', alt='')
								em Krix Speakers
						li.even(data-src='img/Gallery/14-Product-9-NEC-Projector-and-Pedestal.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/14-Product-9-NEC-Projector-and-Pedestal-thumbnail.jpg', alt='')
								em Product 9 - NEC Projector/Pedestal
						li.odd(data-src='img/Gallery/15-USL-Hearing-Assistance.jpg')
							a.img-wrapper(href='#')
								img(src='img/Gallery/15-USL-Hearing-Assistance-thumbnail.jpg', alt='')
								em USL Hearing Assistance
