extends layout

block content
	#services.text-center
		.container-fluid
			.row
				.top-services
					.col-md-12.service-padding.service-border
						.col-md-3
							img(src='img/consultancy.png').image-responsive
							h6 Consultancy
							p Live theatre, Cinema design, Fit out
						.col-md-3
							img(src='img/supply-installation.png').image-responsive
							h6 Supply / Installation
							p Lighting, Audio for schools, Public halls, Live theatre
						.col-md-3
							img(src='img/digital-projector.png').image-responsive
							h6 Digital Projector
							p Digital cinema projector supply and installation
						.col-md-3
							img(src='img/screen-audio.png').image-responsive
							h6 Screen / Audio
							p Cinema screens and audio supply and installation
			.row
				.bottom-services
					.col-md-12.service-padding.service-border
						.col-md-3
							img(src='img/curtain-manufacture.png').image-responsive
							h6 Curtain Manufacture
							p Installation for Cinema, Schools, Public halls, Live theatre
						.col-md-3
							img(src='img/24-hours-support.png').image-responsive
							h6 24 Hours Support
							p Support for cinema digital installations
						.col-md-3
							img(src='img/routine-service.png').image-responsive
							h6 Routine Service
							p Maintenance service for all clients
						.col-md-3
							img(src='img/contact-us.png').image-responsive
							h6 Get In Touch
							p The team will be happy to discuss what we do and how we can help.
	#featured
		.container
			.row
				.col-md-12
					.carousels
						.item
							img(src='img/Featured-Product/PSD-3000-P-Portable-Storage-Device.jpg', alt='')
						.item
							img(src='img/Featured-Product/NEC-NC900C-Digital-Cinema-Projector.jpg')
						.item
							img(src='img/Featured-Product/NEC-NC1200-Digital-Cinema-Projector.jpg')
						.item
							img(src='img/Featured-Product/Espedeo-3D-Polarized-System.jpg')
						.item
							img(src='img/Featured-Product/JSD-60-Digital-Cinema-Processor.jpg')
						.item
							img(src='img/Featured-Product/TMS-1000-Theatre-Management-System.jpg')
						.item
							img(src='img/Featured-Product/SX-2000AR-Digital-Cinema-Server-with-Integrated-Media-Block.jpg')
						.item
							img(src='img/Featured-Product/SX-3000-Standalone-Integrated-Media-Block.jpg')
					.product-more.text-center
						a.btn.hvr-fade.text-uppercase.font-bold(href='/products') View All Our Products
	#partners
		.container
			.row
				.col-md-12
					h5.partners
						span Partners
					ul
						li
							a(href='http://www.harkness-screens.com/' target='_blank')
								img(src='img/Partners/harkness-screens.jpg')
						li
							a(href='http://www.gdc-tech.com/english/index.php' target='_blank')
								img(src='img/Partners/gdc.jpg')
						li
							a(href='http://www.krix.com.au/' target='_blank')
								img(src='img/Partners/krix.jpg')
						li
							a(href='http://au.nec.com/en_AU/index.html' target='_blank')
								img(src='img/Partners/nec.jpg')
						li
							a(href='http://www.uslinc.com/' target='_blank')
								img(src='img/Partners/usl-inc.jpg')
						li
							a(href='http://powershield.com.au/' target='_blank')
								img(src='img/Partners/powershield.jpg')
						li
							a(href='http://www.elgee.com.au/' target='_blank')
								img(src='img/Partners/elgee.jpg')
						li
							a(href='http://www.espedeo.com/cn/index.asp' target='_blank')
								img(src='img/Partners/espedeo.jpg')
						li
							a(href='http://www.gogetta.com.au/' target='_blank')
								img(src='img/Partners/gogetta.jpg')
						li
							a(href='http://www.krameraustralia.com.au/' target='_blank')
								img(src='img/Partners/kramer.jpg')
						li
							a(href='http://www.plusrite.com.au/' target='_blank')
								img(src='img/Partners/plusrite.jpg')
						li
							a(href='http://www.masterimage3d.com/' target='_blank')
								img(src='img/Partners/masterimage.jpg')
						li
							a(href='http://www.dolby.com/us/en/index.html' target='_blank')
								img(src='img/Partners/dolby.jpg')
						


