doctype html
html

	head

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/webriq-bootstrap-material-ui.min.css">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

		<!-- Optional theme -->

		<!-- Latest compiled and minified JavaScript -->
		<script src="/js/webriq-bootstrap-material-ui.min.js"></script>
		<script src="/js/slick.js"></script>


		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		//- uncomment if your site is responsive!
		meta(name="viewport" content="width=device-width, initial-scale=1")

		meta(name='description', content= records.site.sitedata[0].metadesc)
		meta(name='author', content= records.site.sitedata[0].metauthor)
		meta(name="keywords" content= records.site.sitedata[0].metakeyword)

		title= records.site.sitedata[0].sitename

		link(rel="icon", href= records.site.sitedata[0].icon, type="image/*")
		link(rel="shortcut icon", href= records.site.sitedata[0].icon, type="img/*")


		<!-- Custom CSS -->
		!= css()


	body#page-top

		div.main
			include includes/header

		div.main-container
			include includes/menu

		div.footer
			include includes/footer
