extends layout

block content
	#sub-heading
		.container
			.row
				.col-md-6
					h1 Live Theatre
				.col-md-6
					ol.breadcrumb.pull-right
						li
							a(href='#') AUSTRALIA THEATRE SUPPLIES
						li
							a(href='#') LIVE THEATRE
	#main-content
		.container
			.row
				.col-md-12
					h5 Specializing in Performing Arts Equipment for Education, Community Theatre and Local Government.
					p Sales, Installation and Service of most popular brands.
				.col-md-12
					h5.title
						em Performance and Effects Lighting
					p A comprehensive range of performance and effects lighting equipment, from Par Cans, stage and cyclorama floods, Fresnels, prism convex and profile spots to follow spots in a range of sizes from 300 watts to 2500 watts. Effects and moving lights, strobes, LEDs, neon and fibre optics, colour filters, replacement lamps and spare parts.
				.col-md-12
					h5.title
						em Dimming and Control Systems
					p Complete range of dimming and control equipment, single slider follow spot dimmers, single phase powered four and six channel systems with DMX compatibility allowing the use of manual and programmable control desks. Six and twelve channel, three phase powered dimmer racks and lighting desks designed especially for the control of moving lights.
				.col-md-12
					h5.title
						em Audio Equipment
					p Everything that you could need from a megaphone and horn speaker for sporting and outdoor use to portable, self-contained PA systems with optional built in radio microphone receivers, systems for small audio visual presentations right up to a comprehensive system for a hall or auditorium. The range includes amplifiers, speakers, mixing consoles, graphic equalisers, effects units, radio microphones, hand held lead type microphones, hanging choir microphones and speciality lectern microphones.
				.col-md-12
					h5.title
						em Audio Visual Equipment
					p Projectors suitable for classroom ceiling mounts through to large auditorium projection systems. Portable screens, wall mounted pull down and motorised models, large suspended motorised roll up and full size cinema fixed screens. We have a range of lecterns from a basic timber model to a purpose built unit with built in microphones, light, lap top shelf and remote control for screens and projectors.
				.col-md-12
					h5.title
						em Curtains and Track Systems
					p We manufacture curtains for window blackout, room dividers, acoustic wall curtains and stage curtains in a range of colours and fabrics, as well as canvas cycloramas, scene cloths, scrims and gauzes.
				.col-md-12
					h5.title
						em Portable Stage Systems and Rostra Blocks
					p MDF board rostra blocks for classroom and stage use to create levels and improvisation in a large range of sizes from 500mm x 500mm x 500mm cube to stage size modules 1m x 2m x 600mm also portable staging modular stage systems and choir stands with interchangeable galvanised pipe legs in various sizes.
				.col-md-12
					img(src='img/3DSTAGECURTAINS.jpg')

 

	



