extends layout

block content
	#sub-heading
		.container
			.row
				.col-xs-12.col-md-6.pull-left
					h1 Our Products
				.col-xs-12.col-md-6.pull-right.text-right
					ol.breadcrumb
						li
							a(href='index.html') AUSTRALIA THEATRE SUPPLIES
						li
							a(href='products.html') PRODUCTS
	#products
		.container
			.row
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/Espedeo-3D-Polarized1.jpg', data-lightbox='set')
								img(src='img/feature_products/Espedeo-3D-Polarized1.jpg', class="img-responsive", alt='Espedeo 3D Polarized System')
						.product-title Espedeo 3D Polarized System
						.product-text
							| Combined with its polarized glasses, allows you to present stunning stereoscopic 3D films.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/PSD-3000-P-Portable-Storage-Device.jpg', data-lightbox='set')
								img(src='img/feature_products/PSD-3000-P-Portable-Storage-Device.jpg', class="img-responsive", alt='PSD-3000-P Portable Storage Device')
						.product-title PSD-3000-P Portable Storage Device
						.product-text
							| Lower cost and highly-reliable content storage solution which works seamlessly with SX-3000 Standalone Integrated Media Block™ (IMB).
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/SX-3000-Standalone.jpg', data-lightbox='set')
								img(src='img/feature_products/SX-3000-Standalone.jpg', class="img-responsive", alt='SX-3000 Standalone')
						.product-title SX-3000 Standalone Integrated Media Block™
						.product-text
							| the industry’s first Standalone Integrated Media Block which eliminates the need for an external file server
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/TMS-1000-Theatre-Management.jpg', data-lightbox='set')
								img(src='img/feature_products/TMS-1000-Theatre-Management.jpg', class="img-responsive", alt='TMS-1000 Theatre Management System')
						.product-title TMS-1000 Theatre Management System
						.product-text
							| Powerful tool that offers users a centralized point of control for an entire cinema complex.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/krix-speaker.jpg', data-lightbox='set')
								img(src='img/feature_products/krix-speaker.jpg', class="img-responsive", alt='Krix Speakers')
						.product-title Krix Speakers
						.product-text
							| Extended and smoother frequency response and more precise pattern control in all elements of the loudspeaker system.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/NEC-NC3240S-projector.jpg', data-lightbox='set')
								img(src='img/feature_products/NEC-NC3240S-projector.jpg', class="img-responsive", alt='NEC NC3240S Projector')
						.product-title NEC NC3240S Projector
						.product-text
							| Digital cinema projector offers outstanding image quality, brightness, resolution, contrast and colours. It’s all done through the very latest 4K 3D projection.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/NEC-NC1200C-projector.jpg', data-lightbox='set')
								img(src='img/feature_products/NEC-NC1200C-projector.jpg', class="img-responsive", alt='NEC NC1200C Projector')
						.product-title NEC NC1200C Projector
						.product-text
							| Designed for auditoriums with screens up to 46 feet wide. Digital cinema projector offers an authentic movie-going experience.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/GDC-SX2000AR.jpg', data-lightbox='set')
								img(src='img/feature_products/GDC-SX2000AR.jpg', class="img-responsive", alt='GDC SX2000AR')
						.product-title GDC SX2000AR
						.product-text
							| The SX-2000AR/TR supports high frame rate content in 2D and 3D (48fps & 60fps per eye). The SX-2000AR/TR supports SD, HD, 2K and 4K (optional) resolution.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/USL-JSD100D.jpg', data-lightbox='set')
								img(src='img/feature_products/USL-JSD100D.jpg', class="img-responsive", alt='USL JSD100D')
						.product-title USL JSD100D
						.product-text
							| The JSD-100 Digital Cinema Processor is an eight channel digital audio processor with the capability of expanding up to 32 channels.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/NEC-Projectors.jpg', data-lightbox='set')
								img(src='img/feature_products/NEC-Projectors.jpg', class="img-responsive", alt='NEC Projectors')
						.product-title NEC Projectors
						.product-text
							| Impress your audience with our range of easy to use digital cinema projectors – ideal for business as well as home theatres.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/USL-Projection-Colour-Analyser.jpg', data-lightbox='set')
								img(src='img/feature_products/USL-Projection-Colour-Analyser.jpg', class="img-responsive", alt='USL Projection Colour Analyser')
						.product-title USL Projection Colour Analyser
						.product-text
							| Thirty-five millimeter film prints are color balanced at the laboratory, whereas digital cinema presentations must be calibrated at the projector.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/USL-Closed-Captioning-System.jpg', data-lightbox='set')
								img(src='img/feature_products/USL-Closed-Captioning-System.jpg', class="img-responsive", alt='USL Closed Captioning System')
						.product-title USL Closed Captioning System
						.product-text
							| The USL Closed Captioning System (CCS) is designed to enhance the hearing impaired cinema patron’s movie-going experience.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/USL-Cinema-Monitors.jpg', data-lightbox='set')
								img(src='img/feature_products/USL-Cinema-Monitors.jpg', class="img-responsive", alt='USL Cinema Monitors')
						.product-title USL Cinema Monitors
						.product-text
							| Digital Cinemas have additional requirements— specifically remote-level and remote-audio monitoring—that are not currently addressed by existing booth monitor products.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/USL-Hearing-Assistance.jpg', data-lightbox='set')
								img(src='img/feature_products/USL-Hearing-Assistance.jpg', class="img-responsive", alt='USL Hearing Assistance')
						.product-title USL Hearing Assistance
						.product-text
							| Are apart of an infrared system, designed to fill a lifetime void with intelligible, clear sound for the thousands of the hearing impaired.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/Osram-XBO-Digital-Cinema-Projection-Lamps.jpg', data-lightbox='set')
								img(src='img/feature_products/Osram-XBO-Digital-Cinema-Projection-Lamps.jpg', class="img-responsive", alt='Osram XBO Digital Cinema Projection Lamps')
						.product-title Osram XBO Digital Cinema Projection Lamps
						.product-text
							| Digital cinema screens are increasing worldwide. Therefore, movie fans can now enjoy pictures with sharp resolution and higher quality.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/NEC-Video-Wall.jpg', data-lightbox='set')
								img(src='img/feature_products/NEC-Video-Wall.jpg', class="img-responsive", alt='NEC Video Wall')
						.product-title NEC Video Wall
						.product-text Create a Visit to Remember with AWE INSPIRING Visual Solutions
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/USL-Hearing-Assistance.jpg', data-lightbox='set')
								img(src='img/feature_products/USL-Hearing-Assistance.jpg', class="img-responsive", alt='Single Panel Two Channel')
						.product-title Single Panel Two Channel
						.product-text Single panel two channel listening assistive device. Runs at 2.3 and 2.8 MHz.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/USL-Hearing-Assistance.jpg', data-lightbox='set')
								img(src='img/feature_products/USL-Hearing-Assistance.jpg', class="img-responsive", alt='(CCS & HI/VI-N) Single Panel Two Channel')
						.product-title (CCS & HI/VI-N) Single Panel Two Channel
						.product-text
							| (CCS & HI/VI-N) Single panel two channel listening assistive device with closed caption and visual narration. Runs at 1.8, 2.3 and 2.8 MHz
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/Closed-Caption-Headset-receiver.jpg', data-lightbox='set')
								img(src='img/feature_products/Closed-Caption-Headset-receiver.jpg', class="img-responsive", alt='Closed Caption Headset Receiver')
						.product-title Closed Caption Headset Receiver
						.product-text Glasses with captions that receives caption via Infrared energy.
				.col-md-4.col-sm-6.col-xs-6
					.product-holder
						figure
							a(href='img/feature_products/Closed-Caption-Receiver.jpg', data-lightbox='set')
								img(src='img/feature_products/Closed-Caption-Receiver.jpg', class="img-responsive", alt='Closed Caption Receiver')
						.product-title Closed Caption Receiver
						.product-text Gooseneck held caption box that receives captions via infrared energy.
