#sub-heading
	background $light-gray
	.container
		padding: 0px
	.pull-left 
		padding-left: 30px
	.row
		h1
			font-size 30px
			color #444
		p
			float right
			padding-top 21px
			h1
				color #444
			a
				color #444
				font-weight 700
				text-transform uppercase
				font-size 14px
#main-content
	margin-top 0
	background $white
	.container
		margin: auto;
		padding: 35px 15px;
	.col-md-12.content
			float left
			margin-bottom 10px
			position: relative;
			min-height: 1px;
			padding-right: 15px;
			padding-left: 15px;
			.sub-title
				font-size: 24px
				font-weight: 300
	.col-md-6
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		


