#sub-heading
	background $light-gray
	.row
		margin 0
		padding 0
		h1
			float left
			font-size 30px
			color #444
		p
			float right
			padding-top 21px
			h1
				color #444
			a
				color #444
				font-weight 700
				text-transform uppercase
				font-size 14px
#projects
	span
		font-style: normal;
		padding-bottom: 13px;
		border-bottom: 1px solid #63a544;
	ul.eq-ui-collapsible
		margin-left 0
		padding 0
		li
			magrin 0
			padding 0
			border 0
			i.fa.fa-tasks
				float: left;
				padding: 13px 13px 13px 15px;
				font-size: 13px;
				border-right: 1px solid #eee;
				margin-left 0
