#featured
	padding 60px 0;
	background #f5f5f5
	.item
		padding 0 5px 0 5px
		img
			padding: 4px;
			background: #fff;
			width: 100%;
			box-shadow: 0px 1px 2px #d4d4d4;
.slick-dots 
	position relative !important
	margin 20px 0 0 0
	button
		border: 0;
		background: transparent;
		display: block;
		outline: none;
		line-height: 0;
		font-size 0
		color transparent
		padding: 5px;
		cursor pointer
		:before
			background #a6adb2 !important
.product-more a
	font-size 14px
	font-weight bold
	border 2px solid #4c5b66
	color #4c5b66
	padding-top 5px
	height 50px
	width 225px
.product-more :hover
	background-color #4c5b66
.product-more a:hover
	color #ffffff
	

	
				