#contact-footer
	background #171717
	padding 85px 0
	h4
		color $white
		font-size 18px
		font-weight normal
		line-height 25px
	ul
		padding 0px
		color $white
	a
		color #afafaf
		font-weight 400
	.email
		color $white
	p
		margin-top 20px !important
		color #afafaf
		font-weight 400
#footer
	border-top 1px solid #747474
	padding-top 30px
	background #101010
	color #999999
	font-size 13px
	a
		margin-top: -6px;
		background #171717
		display: block;
		border-radius: 50%;
		padding: 6px 14px 6px 14px;
		color: #fff;
		.fa
			display inline-block
			font normal normal normal 14px/1 FontAwesome
			font-size inherit
			text-rendering auto
			-webkit-font-smoothing antialiased
	p
		color $white
#footer a:hover
	background: #3b5998;
	