#gallery 
	.container
		margin: auto
		padding: 50px 0px 50px 18px
		max-width: 1100px
.gallery
	padding: 0px
	li
		list-style: none
		float: left
		width: 33.3333%
		line-height: 10px
		a
			width: 100%
			position: relative
		.img-wrapper
			display: inline-block
			overflow: hidden
			img
				width: 100%
				transition: all .5s ease;
				vertical-align: middle;
			em
				font-weight: 600
				color: #fff
				font-style: normal !important
				font-size 14px
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				text-align: center
				padding: 15px
				background: rgba(0,0,0,.7)
#lightGallery img:hover
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	

