.navbar
	background: #eb4235
	margin-bottom 0px
	border-radius 0px
	padding 20px 135px
	.nav.navbar-nav
		float right !important
		li
			margin-left 0px
			a
				font-size 13px
				font-weight bold 
				line-height 1.42857143
				color $white !important
.navbar-toggle .icon-bar
	background-color $white
.navbar-brand
	padding: 0 15px 0 15px