.navbar
	background: #eb4235
	margin-bottom 0px
	border-radius 0px
	li
		margin-left 25px
		a
			padding: 0
			line-height: 100px
			background: transparent !important
			color: #ffcdd2!important
			font-weight: 500
			text-decoration: none !important
		:hover
			color #fff !important
.navbar-toggle .icon-bar
	background-color $white
.navbar-brand
	padding 0 15px 0 15px
	height 100px !important
	img
		margin-top 20px