#partners
	padding 60px 0px
	background-color $white
	ul
		padding 0px
		li
			float left
			width 20%
			text-align center
			img
				max-width: 100%
				opacity: .7
			:hover
				opacity: 5
.partners
	margin: 0 0 53px 0
	font-size: 24px
	padding-bottom: 13px
	border-bottom: 1px solid #e7e7e7
	span
		font-style: normal;
		padding-bottom: 13px;
		border-bottom: 1px solid #63a544;