#projects
	background-color $white
	.projects
		margin: 0 0 53px 0
		font-size: 24px
		padding-bottom: 13px
		border-bottom: 1px solid #e7e7e7
		span
			font-style: normal;
			padding-bottom: 13px;
			border-bottom: 1px solid #63a544;
	.col-md-6.col-sm-6
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		ul.eq-ui-collapsible
			li
				margin-top 5px
	.eq-ui-collapsible-header
		a:hover
			text-decoration underline
		a
			padding 0
			background-color #f7f7f7
			i.fa.fa-tasks
				float: left;
				padding: 13px 13px 13px 15px;
				font-size: 13px;
				border-right: 1px solid #eee;
				margin-right: 10px
			p
				text-align left
			    font-size: 16px
			    color: #000
	.eq-ui-collapsible-body
		.eq-ui-collapsible-body-inner
			padding-left: 52px
			padding-top: 10px
			padding-bottom: 5px
			font-size: 14px !important
			border-bottom 0px
			p
				font-size: 14px
				color: #333
ul.eq-ui-collapsible
	border 0
.eq-ui-collapsible
	li
		.eq-ui-collapsible-body
			border 0
			

