#services
	background $white
	.col-md-3:first-child
		border-left: 1px solid #e7e7e7
	.col-md-3
		border: 1px solid #e7e7e7
		min-height:300px
		padding: 75px 20px 75px 20px !important
		h6
			font-size: 18px
#services .container
	width 100% !important
#services .col-md-3:hover 
	z-index: 2;
	box-shadow: 0px 0px 10px #e0e0e0


			


		

	
		
	
		
		
		