@import '_settings'
@import '_navbar'
@import '_services'
@import '_featured-slider'
@import '_livetheatre'
@import '_partners'
@import '_footer'
@import '_about'
@import '_projects'
@import '_contact'
@import '_products'
@import '_gallery'

normalize-css()
base()

body
	padding: 0px
	visibility: visible
	font-family: "Lato",sans-serif;
	font-size: 14px

header, .footer
	text-align:center

header
	padding: 5em 0em

body.eq-ui-side-nav-visible .container
	max-width: 1170px !important
h3
	font-size 24px
	font-weight: 300
h1
	color #444
	font-size 30px
h3
	font-size 24px
	font-weight 300
h4
	font-weight bold
	color $white
h5
	color $black
	font-weight 400
	text-align left
h6
	color #000000
	font-weight 500
p
	font-size 14px
	color #333

@media (max-width: 540px){
#partners li {
	width: 50% !important;
}
#services .col-md-3 {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
}


@media(max-width:640px){
.container{
	width:100% !important;
}
}

@media (min-width: 992px){
#services .col-md-3{
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	min-height: 300px;
}
}





