@import '_settings'
@import '_navbar'
@import '_services'
@import '_featured-slider'
@import '_partners'
@import '_footer'
@import '_about'
@import '_projects'


normalize-css()
base()

body
  padding: 0px
  font-family: "Open sans", Arial, sans-serif
  visibility: visible
  font-family: "Lato",sans-serif;

header, .footer
  text-align:center

header
  padding: 5em 0em

body.eq-ui-side-nav-visible .container
	max-width: 1170px !important
.container
	width 1100px !important
h3
	font-size 24px
	font-weight: 300
h4
	font-weight bold
	color $white
h5
	color $black
	font-weight 400
	text-align left
h6
	color #000000
	font-weight 300
p
	font-size 14px
	color #333






