@import '_settings'
@import '_navbar'
@import '_services'
@import '_featured-slider'
@import '_livetheatre'
@import '_partners'
@import '_footer'
@import '_about'
@import '_projects'
@import '_contact'
@import '_products'
@import '_gallery'

normalize-css()
base()

body
	padding: 0px
	visibility: visible
	font-size: 14px

header, .footer
	text-align:center

header
	padding: 5em 0em

body.eq-ui-side-nav-visible .container
	max-width: 1170px !important
h3
	font-size 24px
h1
	color #444
	font-size 30px
h4
	font-weight bold
	color $white
h5
	color $black
	font-weight 400
	text-align left
h6
	color #000000
	font-weight 500
p
	font-size 14px
	color #333
	
@media (max-width: 480px){
#contact-footer .row>div {
	width: 100%
}
}

@media (max-width: 540px){
#partners li {
	width: 50% !important;
}
.breadcrumb {
	margin-top: 0px
}
#services .col-md-3 {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
body #partners li{
	width: 50% !important
}
.col-md-4.col-sm-6.col-xs-6 {
	width: 100%
}
}


@media(max-width:640px){
.container{
	width:100% !important;
}
body #lightGallery li {
	width: 100% !important
}
#sub-heading .pull-left {
	padding-left: 0px
	padding-right: 35px
	text-align: center
}
#sub-heading .pull-right{
	margin-top: -35px
}
.breadcrumb {
	margin-top: 0px
	text-align: center
}
}

@media (max-width: 767px){
.navbar{
	border: #F44336 !important
}
.navbar ul {
	margin: 0px auto 0 auto
	width: 99% !important
}
.navbar ul li {
	margin-left: 0px
}
.navbar ul li a {
	text-align: center
	background: transparent
	font-weight: bold
	text-decoration: none !important
	padding: 15px 0
	line-height: 22px
}
#partners li{
	width: 33% !important
}
#lightGallery li {
	width: 50%;
}
}

@media (max-width:768px){
.navbar li {
    margin-left: 13px !important;
}
}

@media (max-width:991px){
.breadcrumb {
	margin-top: 0px
}
#sub-heading .container {
	padding: 0px;
}
#sub-heading .row h1 {
	font-size: 30px
	color: #444
	margin-top: 21px
	margin-right: -32px
}
}

@media (min-width: 992px){
#services .col-md-3{
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	min-height: 300px;
}
}

@media (max-width: 1024px){
.container-fluid{
	padding-left: 0px
	padding-right: 0px
}
.navbar li {
	margin-left: 25px
}
.breadcrumb {
	margin-top: 30px
}
.row{
	 margin: auto
}
#contact .container{
	padding-right: 15px !important
	padding-left: 30px
}
}





